body{
    margin: 0px;
    overflow: hidden;
}
img{
    margin: 0px;
}
h1{
    position: fixed;
    top: 0px;
    color: white;
}
ul{
    margin: 100px 0px 0px 0px;
}

ul li{
list-style-type: none;
margin: 30px 0px 0px 0px;
}
ul li a{
    text-decoration: none;
    font-size: 30px;
    font-family:cursive;
    color: white;
}
h2{
    margin-top: 40px;
    color: black;
    font-size: 30px;
}
.bar{
    position: fixed;
    top: 0px;
    left: 80%;
    background: lightblue;
   
    width:280px;
    height: 650px;
    text-align: center;
     opacity: 60%;
}

.l1{
    position: fixed;
    top: 20%;
    left: 30%;
    width: 400px;
    height: 500px;
    background: white;
}

.l2{
    text-align: center;
    position: fixed;
    margin: 47.5px 0px 0px 47.5px;
    
    width: 300px;
    height: 400px;
    border: 5px solid lightgray ;
    border-radius: 10px;
}
h3{
    font-size: 30px;
    font-family: bold;
    color: blue;
    text-align: center;
}

h4{
    text-align: center;
    font-size: 20px;
}

input{
    display: block;
    border-radius: 10px;
    width: 250px;
    height: 25px;
    margin-top: 20px;
    margin-left: 25px;
}
input[type=button]{
    background: blue;
    color: white;
    margin-bottom: 20px;
    margin-left: 50px;
    height: 35px;
    width: 200px;
}
h5{
    display: inline;
    color: blue;
    font-size: 18px;
}